@import "tailwindcss";

@theme {
  --color-primary: #36e27b;
  --color-background-light: #f8fafc;
  --color-background-dark: #0d1811;
  --color-surface-dark: #112117;
  --color-surface-border: #254632;
  --font-display: Inter, ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-display);
}